@import '../styles/variables.scss';
@import '../styles/animations.scss';

.card {
  background-color: var(--secondary-color);
  border-radius: $border-radius-large;
  padding: $spacing-unit * 2;
  box-shadow: $box-shadow-base;
  transition: transform $transition-duration $transition-ease, box-shadow $transition-duration $transition-ease;
  cursor: pointer;
  margin: $spacing-unit;

  h3 {
    font-size: 1.5rem;
    margin-bottom: $spacing-unit;
    color: $text-color;
  }

  p {
    font-size: 1rem;
    color: $text-color;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }

  /* Apply fade-in animation */
  animation: fadeIn $transition-duration $transition-ease forwards;
}
