@import '../styles/variables.scss';

.header {
  background-color: $primary-color;
  color: $secondary-color;
  box-shadow: $box-shadow-base;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-navbar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-unit * 2;

  .header-title {
    font-size: 1.8rem;
    font-weight: $font-weight-bold;
    margin: 0;
  }
}
